.not-found-container {
    padding-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
}

.banner-content h1 {
    font-size: 100px;
    color: #cdac48;
    margin: 0;
}

.banner-content h2 {
    font-size: 40px;
    color: rgb(50, 50, 50);
}

.banner-content p {
    font-size: 18px;
    color: rgb(100, 100, 100);
    margin-top: 10px;
}

.home-button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #cdac48;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: 0.3s ease;
}

.home-button:hover {
    background-color: #ba972f;
}
