:host {
    display: block;
}

nav {
    position: fixed;
    width: 100%;
    overflow: hidden;
    margin: 0;
    z-index: 100;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}

nav.scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

#about-page-navbar {
    display: flex;
    place-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 80%;
    margin: auto;
    padding: 9px;
}

#about-page-nav-text ul {
    display: flex;
    list-style: none;
}

#about-page-nav-text a {
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-left: 90px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased;
}

nav.scrolled #about-page-nav-text a {
    color: rgb(50, 50, 50);
}

#about-page-nav-text a:hover {
    color: #e4be4e
}

#about-page-banner {
    padding-top: 0;
}
